/* .image {
  height: 200px;
  width: 300px;
  background-color: #3865fe;
}

.container {
  background-color: #000000;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
} */

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}
.level-10 {
  position: relative;
  z-index: -1;
}

.resp-container {
  /* position: relative;
  padding-top: 56.66%; */
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.resp-iframe {
  /* position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 90%;
  border: 0;
  color: black; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
}
